@font-face {
  font-family: "Roboto regular";
  src: url("../fonts/roboto.woff"), url("../fonts/roboto.woff2");
}
@font-face {
  font-family: "Roboto bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  font-family: "Roboto regular", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 22px;
  margin: 0;
}
.slide-title h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: "Roboto bold", "Arial black", sans-serif;
  margin: 0;
}
.index-banner-item h2, .inner-header {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}
.about-us h3, .news h3, .preform h3 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}
.main-layer h4 {
  font-size: 16px;
  line-height: 22px;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.inner-wrapper {
  background-color: #849d8f;
}
.container {
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}
.header .logo {
  padding-top: 9px;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-left: 10px;
  line-height: 18px;
  list-style: none;
}
.menu li {
  padding: 9px 14px;
}
.menu>li:hover {
  background-color: #f7f6f3;
  padding: 9px 14px;
  border-radius: 50px;
}
.menu li:hover>.menu-link {
  font-family: "Roboto bold", "Arial black", sans-serif;
  color: #323232;
  line-height: 18px;
  border: none;
}
.menu .menu-link {
  font-family: "Roboto bold", "Arial black", sans-serif;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9eb3a8;
}
.menu li:active {
  background-color: #d07058;
}
.menu>li .menu-link:active {
  color: #ffffff;
}
.user-block {
  max-width: 279px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.submenu, .searching, .login, .basket {
  display: none;
  position: absolute;
  border-radius: 7px;
  padding: 0;
  margin: 0;
  box-shadow: 0px 15px 12px 0px rgba(0, 0, 0, 0.1);
}
.catalog {
  position: relative;
}
.catalog li:active {
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
}
.catalog-active {
  background-color: #d07058;
  border-radius: 50px;
}
.catalog-active>.menu-link {
  border: 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto bold", "Arial black", sans-serif;
}
.container-searching, .container-login, .container-basket, .basket-full {
  position: relative;
  padding-top: 28px;
}
.container-login, .container-basket, .basket-full {
  padding-left: 10px;
}
.container-searching a:hover, .container-login a:hover, .container-basket a:hover {
  background-color: #f8f7f4;
  border-radius: 50px;
}
.submenu {
  padding: 7px;
  z-index: 2;
}
.submenu li {
  list-style: none;
}
.submenu li:first-child {
  border-bottom: 2px solid #d1d0ce;
}
.submenu a {
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}
.catalog:hover .submenu {
  display: block;
  position: absolute;
  top: 40px;
  left: -7px;
  background-color: #f8f7f4;
  min-width: 143px;
}
.submenu li:hover {
  background-color: #fbded8;
}
.submenu li:active {
  background-color: #f6b5a5;
  box-shadow: none;
}
.submenu .submenu.active {
  background-color: #d07058;
}
.container-searching a {
  display: block;
  background-image: url("../img/ic-loupe.png");
  background-repeat: no-repeat;
  width: 31px;
  height: 31px;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  margin-top: -4px;
}
.container-searching a:hover {
  display: block;
  background-image: url("../img/ic-loupe-black.png");
  background-repeat: no-repeat;
  background-position: center;
}
.container-searching:hover .searching {
  display: block;
  position: absolute;
  background-color: #f8f7f4;
  padding: 20px 16px;
  top: 59px;
  right: 0px;
}
.searching input[type="search"] {
  padding: 5px 13px;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
  font-size: 14px;
  line-height: 24px;
  width: 311px;
}
.container-login>a:first-child {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 16px 8px 45px;
  border-radius: 50px;
  color: #ffffff;
  font-family: "Roboto medium", "Arial", sans-serif;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}
.container-login>a:first-child::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 25px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  background-position: -6px -97px;
}
.container-login>a:hover {
  background-color: #f8f7f4;
  color: #e9e8e5;
}
.container-login>a:hover::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 25px;
  background-image: url("../img/sprite.png");
  width: 21px;
  height: 21px;
  background-position: -6px -64px;
}
.container-login:hover .login {
  display: block;
  position: absolute;
  background-color: #f8f7f4;
  top: 59px;
  right: 1px;
  font-size: 13px;
  padding: 20px;
  z-index: 2;
}
.login form {
  background-color: #f8f7f4;
  width: 241px;
}
.login input[type="email"], .login input[type="password"] {
  margin-bottom: 20px;
  padding: 10px;
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 7px;
}
.login input[type="submit"] {
  display: inline-block;
  text-align: left;
  padding: 13px 24px;
  vertical-align: middle;
}
.login .re {
  display: inline-block;
  float: right;
  width: 121px;
  vertical-align: middle;
}
.login .login-link {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: none;
  border-bottom: 1px solid #b2b2b2;
  text-align: left;
}
.login .login-link:hover {
  color: #ffbc9e;
}
.container-basket>a:first-child {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 33px;
  padding-left: 45px;
  border-radius: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto medium", "Arial", sans-serif;
}
.container-basket>a:first-child::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 24px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -6px -6px;
  width: 23px;
  height: 21px;
}
.container-basket>a:first-child:hover {
  background-color: #f8f7f4;
  color: #323232;
}
.container-basket>a:first-child:hover::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 24px;
  background: url("../img/ic-basket-full.png") no-repeat;
  background-position: center;
  width: 23px;
  height: 21px;
}
.basket-full>a {
  background-color: #f8f7f4;
  color: #323232;
  text-decoration: none;
  padding: 8px 17px;
  padding-left: 45px;
  border-radius: 50px;
  text-align: center;
  background-color: #ffffff;
  font-family: "Roboto bold", "Arial black", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.basket-full>a::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 24px;
  background: url("../img/ic-basket-full.png") no-repeat;
  background-position: center;
  width: 23px;
  height: 21px;
}
.basket-full:hover .basket {
  display: block;
  position: absolute;
  background-color: #f8f7f4;
  color: black;
  top: 59px;
  right: 0px;
  padding: 14px;
  width: 540px;
}
.basket table {
  font-size: 13px;
  line-height: 16px;
  border-bottom: 2px solid #cacac7;
}
.basket td {
  padding: 15px 12px;
}
.goods span {
  color: #999999;
}
.goods {
  max-width: 220px;
}
.basket-link {
  float: right;
  padding: 14px 0;
  display: block;
  text-align: right;
  width: 170px;
}
.basket .basket-btn {
  margin-top: 10px;
  padding: 9px 16px 11px 16px;
  white-space: nowrap;
}
.cross {
  background: url("../img/ic-cross.png") no-repeat 0 0;
  width: 14px;
  height: 14px;
  border: none;
}
.user-block .time {
  display: block;
  text-align: right;
  padding-left: 96px;
  font-family: "Roboto bold", "Arial black", sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding-top: 5px;
}
.time .number {
  display: block;
  padding-top: 4px;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-footer {
  padding-bottom: 30px;
  padding-top: 3px;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 28px;
}
.footer-social {
  -ms-flex-preferred-size: 178px;
  flex-basis: 178px;
  position: relative;
}
.social-btn {
  width: 40px;
  height: 40px;
  padding-right: 17px;
  vertical-align: top;
}
.social-btn-tw::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  top: 3px;
  left: 0px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -7px -283px;
  opacity: 0.8;
  border: 3px solid #c2cec7;
  border-radius: 50px;
}
.social-btn-tw:hover::before, .social-btn-inst:hover::before, .social-btn-fb:hover::before, .social-btn-vk:hover::before {
  opacity: 1;
}
.social-btn-inst::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  top: 3px;
  left: 50px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -7px -206px;
  opacity: 0.8;
  border: 3px solid #c2cec7;
  border-radius: 50px;
}
.social-btn-fb::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  top: 3px;
  left: 100px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -7px -133px;
  opacity: 0.8;
  border: 3px solid #c2cec7;
  border-radius: 50px;
}
.social-btn-vk::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  top: 3px;
  left: 148px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -7px -329px;
  opacity: 0.8;
  border: 3px solid #c2cec7;
  border-radius: 50px;
}
.rules {
  width: 329px;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  white-space: nowrap;
  padding-top: 15px;
}
.rules li:nth-child(1), .rules li:nth-child(2) {
  padding-left: 21px;
}
.rules li:nth-child(3), .rules li:last-child {
  margin-left: -9px;
}
.rules li:first-child {
  font-family: "Roboto bold", "Arial black", sans-serif;
  display: block;
  background: url("../img/ic-heart.png") no-repeat -1px 6px;
  background-size: 15px;
}
.rules a {
  font-family: "Roboto regular", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  -webkit-text-decoration-color: rgba(157, 177, 165, 0, 69);
  text-decoration-color: rgba(157, 177, 165, 0, 69);
}
.rules a:hover {
  color: #ffbc9e;
}
.footer-copyright {
  -ms-flex-preferred-size: 189px;
  flex-basis: 189px;
  font-size: 12px;
  padding-top: 10px;
}
.footer-copyright p {
  margin: 0;
  margin-top: 2px;
}
.footer-copyright a {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
}
.footer-copyright a:hover {
  color: #ffbc9e;
}
.btn-copyright {
  background: url("../img/ic-logo-html-academy.png") no-repeat 0 0;
  width: 109px;
  height: 38px;
}
.general-btn {
  display: inline-block;
  color: #ffffff;
  font-family: "Roboto bold", "Arial black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-linear-gradient(#f26843 0%, #e74a35 100%);
  background: linear-gradient(#f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  vertical-align: middle;
}
.general-btn:hover {
  background: -webkit-linear-gradient(#f58669 0%, #ec6f5e 100%);
  background: linear-gradient(#f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.general-btn:active {
  background: -webkit-linear-gradient(#d84732 0%, #e1613e 100%);
  background: linear-gradient(#d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*стиизация общих блоков кончилась*/

.main-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.slider {
  position: relative;
  padding-top: 260px;
  text-align: center;
  color: #ffffff;
}
.wrapper::before, .wrapper::after {
  content: "";
  visibility: hidden;
}
.wrapper::before {
  background-image: url("../img/bg-ice-cream2.png");
}
.wrapper::after {
  background-image: url("../img/bg-ice-cream3.png");
}
.slide {
  display: none;
}
.slide-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  max-width: 700px;
}
.slide-btn {
  display: inline-block;
  padding: 12px 40px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  vertical-align: middle;
}
.slide-btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slide-btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
body>input[type="radio"] {
  display: none;
}
#btn-1:checked~.wrapper #slide1, #btn-2:checked~.wrapper #slide2, #btn-3:checked~.wrapper #slide3 {
  display: block;
}
#btn-1:checked~.wrapper {
  background-color: #849d8f;
  background-image: url("../img/bg-ice-cream1.png");
  background-repeat: no-repeat;
  background-position: top center;
}
#btn-2:checked~.wrapper {
  background-color: #8996a6;
  background-image: url("../img/bg-ice-cream2.png");
  background-repeat: no-repeat;
  background-position: top center;
}
#btn-3:checked~.wrapper {
  background-color: #9d8b84;
  background-image: url("../img/bg-ice-cream3.png");
  background-repeat: no-repeat;
  background-position: top center;
}
#btn-1:checked~.wrapper label[for="btn-1"], #btn-2:checked~.wrapper label[for="btn-2"], #btn-3:checked~.wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
.index-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 40px;
}
.index-banner-item {
  background-color: #49302b;
  background: url("../img/bg-chokolate.png") no-repeat 50% 50%;
  background-size: cover;
  -ms-flex-preferred-size: 560px;
  flex-basis: 560px;
  padding: 18px 20px;
  position: relative;
  min-height: 230px;
}
.index-banner-item:first-child {
  background-color: #820d30;
  background: url("../img/bg-raspberries.png") no-repeat 50% 50%;
}
.index-banner-item h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.index-banner-item p {
  margin: 0;
  padding-top: 2px;
  font-size: 18px;
  font-family: "Roboto medium", "Arial", sans-serif;
  font-weight: bold;
  width: 510px;
}
.index-banner-item a {
  padding: 10px 22px 12px 22px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ee6241;
  text-decoration: none;
  border-radius: 100px;
  position: absolute;
  bottom: 25px;
  right: 21px
}
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.gallery .gallery-item {
  -ms-flex-preferred-size: 267px;
  flex-basis: 267px;
  position: relative;
  margin-right: 26px;
}
.gallery .gallery-item:nth-of-type(4n) {
  margin-right: 0;
}
.gallery-item-catalog {
  margin-bottom: 36px;
}
.gallery-item-info:hover {
  position: relative;
  z-index: 80;
}
.gallery-item .img {
  display: block;
}
.overlay {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 109%;
  height: 125%;
  top: -5px;
  left: -12px;
  z-index: 1;
  padding-bottom: 40px;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.3);
}
.gallery-item .price {
  position: absolute;
  top: 180px;
  left: 0px;
  font-size: 30px;
  line-height: 45px;
  font-family: "Roboto bold", "Arial black", sans-serif;
}
.price span {
  font-size: 45px;
  line-height: 45px;
}
.ice-cream-name {
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
}
.ice-cream-catalog {
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 0px 5px;
  padding-top: 8px;
}
.ice-cream-name h4 {
  font-family: "Roboto medium", "Arial", sans-serif;
  display: inline;
  margin: 0;
  font-weight: normal;
  padding-top: 10px;
  border-bottom: 1px solid #9db1a5;
  cursor: pointer;
}
.ice-cream-catalog h4 {
  font-family: "Roboto medium", "Arial", sans-serif;
  display: inline;
  margin: 0;
  font-weight: normal;
  padding-top: 10px;
  border-bottom: 1px solid #9db1a5;
  cursor: pointer;
}
.ice-cream-name:hover h4 {
  color: #ffbc9e;
}
.ice-cream-catalog:hover h4 {
  color: #ffbc9e;
}
.overlay .index-btn {
  position: absolute;
  bottom: 17px;
  left: 143px;
  white-space: nowrap;
  padding: 10px 17px;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.gallery-item:hover .overlay {
  display: block;
}
.gallery-ice-cream1 {
  background-color: #e69d54;
  border-radius: 160px;
}
.gallery-ice-cream2 {
  background-color: #ab5531;
  border-radius: 160px;
}
.gallery-ice-cream3 {
  background-color: #f68baa;
  border-radius: 160px;
}
.gallery-ice-cream4 {
  background-color: #f5e8cc;
  border-radius: 160px;
}
.gallery-ice-cream5 {
  background-color: #ee6a6d;
  border-radius: 160px;
}
.gallery-ice-cream6 {
  background-color: #d1cfda;
  border-radius: 160px;
}
.gallery-ice-cream7 {
  background-color: #f5d664;
  border-radius: 160px;
}
.gallery-ice-cream8 {
  background-color: #fcf4e5;
  border-radius: 160px;
}
.gallery-ice-cream9 {
  background-color: #e2bf61;
  border-radius: 160px;
}
.gallery-ice-cream10 {
  background-color: #80d2d8;
  border-radius: 160px;
}
.gallery-ice-cream11 {
  background-color: #eaeaea;
  border-radius: 160px;
}
.gallery-ice-cream12 {
  background-color: #8ad588;
  border-radius: 160px;
}
.gallery-item:hover .gallery-item__info {
  z-index: 2;
}
.gallery-item .hit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: url("../img/ic-hit.png") no-repeat;
  width: 62px;
  height: 62px;
}
.about-us {
  padding: 25px 15px 24px 20px;
  border-radius: 10px;
  background-color: #f0e5cd;
  background: url("../img/bg-wafer.png") no-repeat 50% 50%;
  background-size: cover;
}
.about-us h3 {
  margin: 0;
}
.about-us ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.features-item {
  width: 545px;
  color: black;
  list-style: none;
  padding-top: 20px;
  padding-left: 57px;
}
.features-item p {
  margin: 0;
  padding: 0;
}
.features-item:first-child {
  background: url("../img/ic-ice-cream-on-wafer.png") no-repeat;
  background-position: 1px 8px;
  background-size: 50px;
}
.features-item:nth-child(2) {
  background: url("../img/ic-cow-on-wafer.png") no-repeat;
  background-position: 0px 6px;
  background-size: 50px;
  padding-left: 55px;
}
.features-item:nth-child(3) {
  padding-top: 23px;
  background: url("../img/ic-leaf-on-wafer.png") no-repeat;
  background-position: 0px 9px;
  background-size: 50px;
}
.features-item:last-child {
  padding-top: 23px;
  background: url("../img/ic-thermometer-on-wafer.png") no-repeat;
  background-position: -1px 9px;
  background-size: 50px;
  padding-left: 55px;
}
.index-banner-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 38px;
  background-size: cover;
}
.news {
  -ms-flex-preferred-size: 560px;
  flex-basis: 560px;
  padding: 23px 20px;
  background-color: #ffffff;
  background: url("../img/bg-strawberry.png") no-repeat 50% 50%;
  min-height: 220px;
}
.news h5 {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}
.news h3 {
  display: inline-block;
  width: 285px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
  margin-top: 3px;
  vertical-align: middle;
  font-family: "Roboto bold", "Arial black", sans-serif;
}
.subscription {
  -ms-flex-preferred-size: 560px;
  flex-basis: 560px;
  padding: 32px 26px 40px 26px;
  background-color: #f8f7f4;
  background: url("../img/bg-post1.png") no-repeat 50% 50%, url("../img/bg-post.png") no-repeat 50% 50%;
  color: #5a5a5a;
  position: relative;
}
.subscription p {
  margin: 0;
  padding-bottom: 37px;
}
.subscription input[type="email"] {
  width: 368px;
  font-family: "Roboto regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
  padding: 9px 14px;
}
.subscription input[type="submit"] {
  position: absolute;
  bottom: 41px;
  right: 26px;
  padding: 10px 18px 11px 18px;
}
.map {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.mark {
  position: absolute;
  top: 77px;
  left: -605px;
  width: 218px;
  height: 142px;
  background: url("../img/ic-marker.png") no-repeat;
  background-position: center;
}
.how-to-find {
  background-color: white;
  color: #323232;
  border-radius: 10px;
  width: 302px;
  position: absolute;
  top: 63px;
  left: 871px;
  padding: 30px 25px;
}
.how-to-find p {
  display: block;
  font-family: "Roboto regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.how-to-find .adress, .how-to-find .phone {
  font-family: "Roboto bold", "Arial black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
}
.how-to-find .phone {
  padding-top: 5px;
}
.how-to-find p:first-of-type {
  width: 150px;
}
.how-to-find p:nth-of-type(3) {
  padding-top: 18px;
}
.how-to-find p:last-of-type {
  line-height: 22px;
  padding-bottom: 12px;
}
.feedback-btn {
  margin-top: 10px;
  padding: 10px 27px 10px 28px;
  white-space: nowrap;
}
.breadcrumbs {
  margin-top: -33px;
  width: 321px;
}
.breadcrumbs-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadcrumbs-in li {
  padding-right: 6px;
}
.breadcrumbs-in a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  border-bottom: 1px solid rgba(157, 177, 165, 0.7);
}
.breadcrumbs-in a:hover {
  color: #ffbc9e;
}
.inner-header {
  font-family: "Roboto bold", "Arial black", sans-serif;
  margin: 0;
  margin-top: 4px;
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 860px;
  flex-basis: 860px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 26px;
  z-index: 1;
}
.sorting {
  -ms-flex-preferred-size: 194px;
  flex-basis: 194px;
  margin-right: 15px;
  margin-bottom: 14px;
  border: none;
  padding: 0;
}
.sorting legend {
  font-family: "Roboto medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
  padding-bottom: 7px;
}
.sorting select {
  background-color: rgba(157, 177, 165, 1);
  max-height: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 36px;
  padding-left: 16px;
  margin-top: 1px;
  border: none;
  border-radius: 18px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.sorting select:hover {
  background-color: #ffffff;
  color: #323232;
}
.sort-wrapper {
  margin-top: 5px;
  position: relative;
  width: 193px;
}
.cost {
  -ms-flex-preferred-size: 218px;
  flex-basis: 218px;
  margin-right: 15px;
  margin-bottom: 14px;
  border: none;
  padding: 0;
}
.cost legend {
  padding-left: 10px;
  padding-bottom: 7px;
  font-family: "Roboto medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.cost span {
  background-color: #849d8f;
  color: #ffffff;
}
.price-slider {
  padding: 16px 15px;
  background-color: #9db1a5;
  border-radius: 50px;
  position: relative;
}
.price-slider__full-bar {
  width: 188px;
  height: 4px;
  background-color: #cbd4cd;
}
.price-slider__thumb1 {
  position: absolute;
  top: 8px;
  left: 31px;
  width: 3px;
  height: 3px;
  padding: 9px;
  background-color: #ffffff;
  border-radius: 50px;
}
.price-slider__thumb2 {
  position: absolute;
  top: 8px;
  right: 70px;
  width: 3px;
  height: 3px;
  padding: 9px;
  background-color: #ffffff;
  border-radius: 50px;
}
.price-slider__thumb1:hover, .price-slider__thumb2:hover {
  position: absolute;
  top: 6px;
  padding: 12px;
  cursor: pointer;
}
.price-slider__diapason-bar {
  position: absolute;
  top: 15px;
  left: 37px;
  width: 107px;
  height: 4px;
  background-color: #ffffff;
}
.fat {
  margin-bottom: 14px;
  border: none;
  padding: 0;
}
.fat legend {
  padding-left: 10px;
  padding-bottom: 7px;
  font-family: "Roboto medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.fat-wrap {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 15px;
  border-radius: 50px;
}
.fat-wrap input[type="radio"] {
  display: none;
}
.fat-wrap input[type="radio"]+label {
  position: relative;
  padding-left: 27px;
  margin-right: 19px;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
}
.fat-wrap input[type="radio"]+label:last-of-type {
  margin-right: 0px;
}
.fat-wrap input[type="radio"]+label::before {
  content: "";
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.fat-wrap input[type="radio"]:checked+label::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  left: 3px;
}
.fat-wrap input[type="radio"]+label:hover::before {
  border: 2px solid #ffffff;
  content: "";
  width: 19px;
  height: 19px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.fat-wrap input[type="radio"]:checked+label:hover::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  left: 3px;
}
.fillers {
  margin-bottom: 37px;
  border: none;
  padding: 0;
}
.fillers legend {
  font-family: "Roboto medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
  padding-bottom: 5px;
}
.fillers-wrap {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 20px 8px 15px;
  border-radius: 50px;
}
.fillers input[type="checkbox"] {
  display: none;
}
.fillers input[type="checkbox"]+label {
  position: relative;
  cursor: pointer;
  padding: 0 33px;
  padding-right: 17px;
  font-size: 16px;
  line-height: 18px;
}
.fillers input[type="checkbox"]+label:last-of-type {
  padding-right: 0px;
}
.fillers input[type="checkbox"]+label::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  top: 0px;
  left: -1px;
}
.fillers input[type="checkbox"]:checked+label::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background: url("../img/ic-tick.png") no-repeat;
  background-position: center;
  top: -1px;
  left: -2px;
}
.fillers input[type="checkbox"]+label:hover::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  background-color: #aabcb2;
  border-radius: 4px;
  top: 0px;
  left: 0px;
}
.fillers input[type="checkbox"]:checked+label:hover::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background: url("../img/ic-tick.png") no-repeat;
  background-position: center;
  top: -1px;
  left: -2px;
}
.form-btn {
  -ms-flex-preferred-size: 114px;
  flex-basis: 114px;
  padding: 0 30px;
  max-height: 36px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #fbfcfb;
  border-radius: 50px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.form-btn:hover {
  background-color: #fbfcfb;
  color: #323232;
}
.form-btn:active {
  background-color: #eaeaea;
  box-shadow: inset 10px 10x 5px 5px #323232;
}
.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-preferred-size: 190px;
  flex-basis: 190px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 29px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.page a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 4px 9px;
  line-height: 18px;
  margin: 0;
  margin-left: 1px;
}
.page a:hover {
  background-color: #9fb3a8;
  border-radius: 50px;
}
.page .active-page {
  background-color: #ffffff;
  color: #323232;
  border-radius: 50px;
}
.page a:active {
  background-color: #ffffff;
  color: #323232;
  border-radius: 50px;
}
.feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -239px;
  margin-top: -221px;
  width: 478px;
  min-height: 442px;
  padding: 20px 25px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px;
  z-index: 20;
}
.feedback-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}
.preform {
  position: relative;
}
.feedback h3 {
  margin: 0;
  margin-bottom: 25px;
}
.feedback-close {
  position: absolute;
  top: 5px;
  right: 16px;
  border: none;
  font-size: 0;
  width: 18px;
  height: 18px;
  background-color: #f8f7f4;
}
.feedback-close::before, .feedback-close::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 19px;
  height: 2px;
  background-color: #070707;
  border-radius: 1px;
}
.feedback-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.feedback-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.feedback form {
  position: relative;
}
.feedback .field {
  display: block;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 15px;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
}
.feedback input {
  width: 264px;
}
.feedback textarea {
  width: 427px;
  font: inherit;
}
.feedback-inner-btn {
  padding: 10px 25px;
  position: absolute;
  bottom: -70px;
  right: 0px;
}
.feedback-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/*-----------------------------*/

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}